In [53]:
from zipfile import ZipFile
import numpy as np
import pandas as pd
import zipfile
import re
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure



zf = zipfile.ZipFile('Data/Data_incidents.csv.zip') 
data = pd.read_csv('Data/Data_incidents.csv.zip').reset_index()

## Extract mass shooting incidents

In [54]:
data = data.drop(columns=['index','Unnamed: 0'])

In [55]:
mass_shootings = data[data['Mass Shooting']==True]

In [56]:
len(mass_shootings)

1363

## Incidents over time

In [57]:
ms_time = mass_shootings.groupby('Date')['incident_id'].nunique()
ms_time

Date
2014-01-01    1
2014-01-03    1
2014-01-12    3
2014-01-13    1
2014-01-14    1
             ..
2018-03-17    2
2018-03-21    1
2018-03-24    1
2018-03-29    2
2018-03-31    1
Name: incident_id, Length: 808, dtype: int64

In [58]:
ms_time = ms_time.to_frame()
ms_time.reset_index(level=0, inplace=True)

In [59]:
ms_time

           Date  incident_id
0    2014-01-01            1
1    2014-01-03            1
2    2014-01-12            3
3    2014-01-13            1
4    2014-01-14            1
..          ...          ...
803  2018-03-17            2
804  2018-03-21            1
805  2018-03-24            1
806  2018-03-29            2
807  2018-03-31            1

[808 rows x 2 columns]

In [60]:
#check sum
ms_time['incident_id'].sum()

1363

In [64]:
# format date
ms_time['date'] = pd.to_datetime(ms_time.Date.str.strip(), format = '%Y-%m-%d')#
ms_time=ms_time.drop(columns = 'Date');

In [65]:
ms_time

     incident_id       date
0              1 2014-01-01
1              1 2014-01-03
2              3 2014-01-12
3              1 2014-01-13
4              1 2014-01-14
..           ...        ...
803            2 2018-03-17
804            1 2018-03-21
805            1 2018-03-24
806            2 2018-03-29
807            1 2018-03-31

[808 rows x 2 columns]

In [66]:
# Create new date columns
ms_time['Year'] = ms_time.date.apply(lambda x: x.year)
ms_time['Month'] = ms_time.date.apply(lambda x: x.month)
ms_time['Year_Month'] = ms_time.date.apply(lambda x: 100*x.year + x.month)

In [67]:
ms_time.head(2)

   incident_id       date  Year  Month  Year_Month
0            1 2014-01-01  2014      1      201401
1            1 2014-01-03  2014      1      201401

In [68]:
#ms_year = ms_time.groupby('Year').incident_id.sum()
ms_year_month = ms_time.groupby('Year_Month').incident_id.sum()

In [89]:
ms_year_month = ms_year_month.to_frame()
ms_year_month.reset_index(level=0, inplace=True)
ms_year_month.columns = ['Year_Month', 'ms_all']

In [71]:
inc_all = data.Date
inc_all = inc_all.to_frame()
inc_all['counts'] = 1

In [72]:
inc_all['date'] = pd.to_datetime(inc_all.Date.str.strip(), format = '%Y-%m-%d')#
inc_all= inc_all.drop(['Date'], axis=1);

In [73]:
inc_all['Year'] = inc_all.date.apply(lambda x: x.year)
inc_all['Year_Month'] = inc_all.date.apply(lambda x: 100*x.year + x.month)

In [76]:
all_YM = inc_all.groupby('Year_Month').counts.sum()

In [81]:
all_YM_pd = all_YM.to_frame()
all_YM_pd.reset_index(level=0, inplace=True)
all_YM_pd.columns = ['Year_Month', 'inc_all']

In [91]:
YM = pd.merge(all_YM_pd, ms_year_month, on='Year_Month')

In [97]:
len(YM)
YM.ms_all.sum()

1363

In [ ]:
mass_shootings['victims'] = mass_shootings.n_killed + mass_shootings.n_injured

In [ ]:
max_vic = mass_shootings.victims.max()
mass_shootings[mass_shootings['victims']==max_vic]

In [ ]:
mass_shootings.groupby('victims')['index'].nunique()

In [ ]:
ms_states = mass_shootings.groupby('state')['index'].nunique()
ms_states.sort_values(ascending=False)

In [ ]:
for col in mass_shootings.columns:
    print(col)