## SPATIAL ANALYSIS

In [1]:
import os
import requests

import numpy as np
import pandas as pd
import seaborn as sns

import folium
import geopandas as gpd
import fiona
import shapely


import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
%matplotlib inline
import zipfile
from zipfile import ZipFile
from sklearn.neighbors import NearestNeighbors
from haversine import haversine, Unit

## Download the Shape file of US Counties


folder_root = '/Users/Anna/Documents/GitHub/Gun_Violence_E19/maps/tl_2017_us_county'

os.chdir(folder_root) # change directions
zip_file = zipfile.ZipFile(os.path.join(folder_root,'tl_2017_us_county.shp.zip')) # open the zip file
zip_file.extractall()
zip_file.close()
county_data = gpd.read_file('tl_2017_us_county.shp') # read the un-zipped shape-file
os.remove(os.path.join(folder_root, 'tl_2017_us_county.shp')) # delete the un-zipped file again, as it is too big to for GitHub sharing

county_data['Statecode'] = pd.to_numeric(county_data['STATEFP'])
county_data = county_data[['Statecode','NAME', 'NAMELSAD','geometry']]

state_names = pd.read_csv('state-geocodes-v2016.csv', sep = ';')
state_names = state_names[['State (FIPS)','Name']]
state_names

geo_county = pd.merge(county_data,state_names,left_on=['Statecode'], right_on = ['State (FIPS)'], how = 'left')

geo_county = geo_county[geo_county['Name']!='Alaska']
geo_county = geo_county[geo_county['Name']!='Hawaii']
geo_county = geo_county[geo_county['Name']!='Districts of Columbia']
geo_county = geo_county.dropna()
geo_county['Name'].unique()

fig, ax = plt.subplots(figsize = (20,20))
geo_county.plot(ax = ax)

plt.xlim(right = -65)
plt.xlim(left = -127)
plt.ylim(bottom = 22.5)

extreme = geo_county.bounds
min_x = extreme['minx'].min()
max_x = extreme['maxx'].max()
min_y = extreme['miny'].min()
max_y = extreme['maxy'].max()

horisontal_grid = np.arange(min_x,max_x,500)
vertical_grid = np.arange(min_y,max_y,500)

x = []
y = [] 

for h in horisontal_grid: 
    for v in vertical_grid: 
        x.append(h)
        y.append(v)

## Spatial Analysis

In [4]:
os.chdir('/Users/josefinebjornholm/Documents/GitHub/Gun_Violence_E19/Data')
df = pd.read_csv('Data_incidents.csv.zip')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
## SPLIT THE DATA INTO THE SUB-GROUPS THAT WE ARE INTERESTED IN

#MASS SHOOTINGS
mass_shootings = df[df['Mass Shooting']== True].reset_index()

#NON SHOOTINGS
non_shootings = df[df['Non-Shooting Incident']== True]

#DEAD SHOOTING EXC. MASS SHOOTINGS
dead_shootings = df[df['Shot - Dead']==True]

dead_shooting = dead_shootings[dead_shootings['Mass Shooting']==False]
dead_shooting = dead_shootings[dead_shootings['Accidental Shooting']==False]


print(len(mass_shootings),len(non_shootings),len(dead_shooting))

1352 42134 47928

In [7]:
mass_shootings['state'].unique()
len(mass_shootings)

1352

In [8]:
X_ms = np.array(mass_shootings[['latitude','longitude']]) # extract the long-lat columns for KKN analysis
X_ns = np.array(non_shootings[['latitude','longitude']])
X_ds = np.array(dead_shootings[['latitude','longitude']])

## NON-SHOOTING NEIGHBOUR

In [9]:
X_ms

array([[ 36.8508, -76.2859],
       [ 40.6775, -73.7629],
       [ 32.3986, -91.1579],
       ...,
       [ 33.0758, -96.7106],
       [ 39.9321, -75.1027],
       [ 40.2164, -74.0187]])

In [10]:
distances_ns = []
for cor in range(len(X_ms)):
    frame = np.vstack((X_ms[cor],X_ns)) # stack eack ms incident with the comparable incidents
    frame = np.radians(frame) # Convert into radians
    kkn = NearestNeighbors(n_neighbors=2, algorithm='auto', metric='haversine').fit(frame)
    distance, indices = kkn.kneighbors([frame[0]]) # only return distance, indicies for the first row (the mass shooting)
    dist = distance[0][1] * 6371 # convert into km
    ns_cor = frame[indices[0][1]] #coordinates for the nearest neighbor (not saved outside loop)

    distances_ns.append(dist)

## DEAD-SHOOTING NEIGHBOUR

In [11]:
distances_ds = []
for cor in range(len(X_ms)):
    frame = np.vstack((X_ms[cor],X_ds))
    frame = np.radians(frame)
    kkn = NearestNeighbors(n_neighbors=2, algorithm='auto', metric='haversine').fit(frame)
    distance, indices = kkn.kneighbors([frame[0]])
    dist = distance[0][1] * 6371
    ns_cor = frame[indices[0][1]]

    distances_ds.append(dist)

## MASS-SHOOTING NEIGHBOUR

In [12]:
X_ms = np.radians(X_ms)
kkn = NearestNeighbors(n_neighbors=2, algorithm='auto', metric='haversine').fit(X_ms)
distance, indices = kkn.kneighbors()

In [13]:
distances_ms = []
for i in range(len(distance)):
    dist = distance[i][1] * 6371
    distances_ms.append(dist)

In [14]:
nn_ms = pd.DataFrame(distances_ms, columns = ['ms_distance']);
nn_ns = pd.DataFrame(distances_ns, columns = ['ns_distance']);
nn_ds = pd.DataFrame(distances_ds, columns = ['ds_distance']);

In [15]:
print(len(nn_ms), len(nn_ns), len(nn_ds))

1352 1352 1352

In [16]:
# The columns to dataframe
mass_shootings['MS_Dist'] = nn_ms
mass_shootings['NS_Dist'] = nn_ns
mass_shootings['DS_Dist'] = nn_ds

In [17]:
mass_shootings

,index,Unnamed: 0,incident_id,state,city_or_county,n_killed,n_injured,incident_characteristics,latitude,location_description,...,Terrorism Involvement,Officer Involved Shooting - Accidental discharge - no injury required,Mistaken ID,Officer Involved Shooting - subject/suspect/perpetrator suicide by cop,Ghost gun,Political Violence,NAV,MS_Dist,NS_Dist,DS_Dist
0,71,71,92194,Virginia,Norfolk,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",36.8508,NaN,...,False,False,False,False,False,False,False,2.595616,0.447451,0.000000
1,321,321,92704,New York,Queens,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",40.6775,NaN,...,False,False,False,False,False,False,False,2.630121,0.956968,0.000000
2,1481,1481,95500,Louisiana,Tallulah,0,6,Shot - Wounded/Injured||Mass Shooting (4+ vict...,32.3986,103 Klub,...,False,False,False,False,False,False,False,30.537472,26.329290,2.673553
3,1508,1508,95579,Illinois,Elgin,0,5,Shot - Wounded/Injured||Mass Shooting (4+ vict...,42.0401,NaN,...,False,False,False,False,False,False,False,38.002292,0.826531,0.640190
4,1567,1567,95550,Alabama,Huntsville,0,5,Shot - Wounded/Injured||Mass Shooting (4+ vict...,34.7371,NaN,...,False,False,False,False,False,False,False,11.969211,2.151040,0.191025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1347,225745,225745,1074886,California,San Francisco,1,5,"Shot - Wounded/Injured||Shot - Dead (murder, a...",37.7163,Amazon Barbershop,...,False,False,False,False,False,False,False,4.530501,0.852293,0.000000
1348,226075,226075,1077180,Utah,Salt Lake City (West Valley City),0,4,Shot - Wounded/Injured||Drive-by (car to stree...,40.7021,Walmart,...,False,False,False,False,False,False,False,20.641806,1.280196,0.622692
1349,226575,226575,1080234,Texas,Plano,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",33.0758,Cross Creek Apartments,...,False,False,False,False,False,False,False,4.216156,3.052364,0.000000
1350,226620,226620,1080442,New Jersey,Camden,0,4,Shot - Wounded/Injured||Institution/Group/Busi...,39.9321,NaN,...,False,False,False,False,False,False,False,5.916698,0.370844,0.000000
1351,226763,226763,1082273,New Jersey,Asbury Park,0,5,Shot - Wounded/Injured||Drive-by (car to stree...,40.2164,NaN,...,False,False,False,False,False,False,False,19.273638,0.257969,0.257969

In [19]:
#extract relevant columns
ms_nn = mass_shootings[['state','NS_Dist','DS_Dist','MS_Dist']]

In [20]:
ms_nn_desc_state = ms_nn.groupby(['state']).describe().reset_index()

In [21]:
sorted_desc1 = ms_nn_desc_state.sort_values(('NS_Dist', 'count'), ascending=False).round(2)

#make range columns
sorted_desc1['NS_Range'] = sorted_desc1[('NS_Dist',   'min')].map(str) +'-'+ sorted_desc1[('NS_Dist',   'max')].map(str)
sorted_desc1['DS_Range'] = sorted_desc1[('DS_Dist',   'min')].map(str) +'-'+ sorted_desc1[('DS_Dist',   'max')].map(str)
sorted_desc1['MS_Range'] = sorted_desc1[('MS_Dist',   'min')].map(str) +'-'+ sorted_desc1[('MS_Dist',   'max')].map(str)

In [22]:
sorted_desc1.head(2)

        state NS_Dist                                            DS_Dist  ...  \
                count  mean   std  min   25%   50%   75%     max   count  ...
3  California   155.0  2.02  8.86  0.0  0.40  0.90  1.62  109.99   155.0  ...
9    Illinois   133.0  0.86  0.87  0.0  0.34  0.64  1.15    7.58   133.0  ...

  MS_Dist                                          NS_Range  DS_Range  \
     mean    std   min   25%  50%   75%     max
3   13.46  32.06  0.47  1.75  4.1  9.58  299.32  0.0-109.99  0.0-4.53
9    6.96  16.65  0.22  0.74  1.3  3.52  112.31    0.0-7.58  0.0-6.78

      MS_Range

3  0.47-299.32
9  0.22-112.31

[2 rows x 28 columns]

In [112]:
#sorted_desc.iloc[:, [0,1,2,3,5,9,11,13,17,19,21,25]]
#sorted_desc1.iloc[:, [0,1,2,25,10,26,18,27]].head(10)
print(sorted_desc1.iloc[:, [0,1,2,25,10,26,18,27]].to_latex(index=False))

\begin{tabular}{lrrlrlrl}
\toprule
          state & \multicolumn{2}{l}{NS\_Dist} &     NS\_Range & DS\_Dist &   DS\_Range & MS\_Dist &       MS\_Range \\
                &   count & \multicolumn{2}{l}{mean} & \multicolumn{2}{l}{mean} & \multicolumn{2}{l}{mean} \\
\midrule
     California &   155.0 &   2.02 &   0.0-109.99 &    0.23 &   0.0-4.53 &   13.46 &    0.47-299.32 \\
       Illinois &   133.0 &   0.86 &     0.0-7.58 &    0.16 &   0.0-6.78 &    6.96 &    0.22-112.31 \\
        Florida &   102.0 &   1.45 &     0.0-28.3 &    0.49 &  0.0-20.04 &   16.12 &     0.28-129.1 \\
          Texas &    84.0 &   2.57 &    0.0-17.33 &    0.20 &   0.0-2.46 &   33.24 &    1.84-258.57 \\
       New York &    64.0 &   0.53 &     0.0-4.42 &    0.21 &   0.0-1.97 &    7.39 &    0.15-117.63 \\
        Georgia &    63.0 &   3.34 &    0.0-28.63 &    0.77 &  0.0-16.88 &   21.53 &    0.48-107.45 \\
      Louisiana &    54.0 &   1.04 &    0.0-26.33 &    0.15 &   0.0-2.67 &   11.57 &    0.75-116.26 \\
           Ohio &    54.0 &   1.64 &    0.0-19.34 &    0.29 &   0.0-6.43 &   17.01 &     0.89-97.54 \\
   Pennsylvania &    52.0 &   1.16 &   0.09-16.52 &    0.26 &   0.0-4.05 &   11.75 &    0.76-130.51 \\
      Tennessee &    52.0 &   1.43 &    0.0-23.75 &    0.48 &   0.0-6.63 &   14.26 &    1.16-153.51 \\
       Michigan &    45.0 &   1.10 &      0.0-6.4 &    0.42 &   0.0-7.45 &   15.74 &     0.92-92.87 \\
       Missouri &    42.0 &   2.05 &   0.13-28.21 &    0.11 &   0.0-0.91 &   20.94 &    0.89-170.71 \\
     New Jersey &    38.0 &   0.37 &     0.0-2.55 &    0.17 &   0.0-1.99 &    7.81 &     0.76-59.78 \\
       Virginia &    35.0 &   5.24 &   0.21-61.32 &    1.32 &  0.0-23.37 &   22.75 &     0.98-83.02 \\
        Indiana &    34.0 &   0.91 &     0.0-4.32 &    0.43 &   0.0-3.55 &    9.08 &      1.0-63.24 \\
       Maryland &    33.0 &   0.67 &     0.0-4.55 &    0.08 &   0.0-0.49 &    5.02 &     0.73-40.93 \\
        Alabama &    33.0 &   7.28 &   0.13-40.31 &    0.75 &  0.0-10.43 &   34.72 &     2.98-82.54 \\
 South Carolina &    31.0 &   2.40 &    0.01-16.3 &    0.48 &   0.0-5.29 &   26.15 &     0.83-56.11 \\
 North Carolina &    31.0 &   2.64 &    0.17-15.5 &    1.11 &  0.0-10.91 &   36.06 &    1.48-116.67 \\
    Mississippi &    26.0 &   9.95 &    0.0-53.05 &    1.05 &   0.0-18.6 &   47.80 &    6.28-116.93 \\
       Kentucky &    20.0 &   3.54 &   0.18-22.45 &    0.46 &   0.0-5.84 &   25.95 &     0.88-94.91 \\
        Arizona &    16.0 &   3.11 &    0.77-7.44 &    0.23 &   0.0-1.68 &   38.68 &    5.71-183.69 \\
      Minnesota &    15.0 &   2.48 &   0.08-22.37 &    1.49 &  0.0-18.67 &   28.20 &     0.3-334.03 \\
     Washington &    15.0 &   4.19 &   0.02-16.46 &    0.86 &  0.0-10.97 &   60.67 &    1.27-360.15 \\
  Massachusetts &    13.0 &   0.17 &     0.0-0.89 &    0.36 &   0.0-1.28 &   18.29 &     2.03-47.25 \\
    Connecticut &    12.0 &   0.30 &    0.07-1.16 &    0.28 &   0.0-1.08 &   11.09 &     3.12-31.25 \\
       Colorado &    12.0 &   3.73 &   0.26-28.89 &    0.35 &   0.0-2.29 &   35.76 &    2.13-208.85 \\
         Kansas &    11.0 &   3.76 &   0.02-29.66 &    0.20 &    0.0-1.2 &   21.62 &     4.19-54.07 \\
       Arkansas &    11.0 &   4.69 &    0.0-36.51 &    0.16 &   0.0-1.45 &   43.75 &     7.49-99.35 \\
      Wisconsin &     9.0 &   1.12 &    0.41-3.56 &    0.08 &    0.0-0.2 &   41.41 &     0.53-235.9 \\
     New Mexico &     9.0 &   4.49 &   0.37-34.16 &    0.05 &   0.0-0.46 &   74.45 &    5.96-166.23 \\
         Nevada &     9.0 &   1.54 &    0.44-3.27 &    0.12 &   0.0-0.36 &    5.66 &     2.49-10.92 \\
       Oklahoma &     8.0 &   2.88 &   0.01-20.32 &    0.40 &   0.0-1.27 &   27.77 &    1.23-129.38 \\
         Oregon &     6.0 &   1.83 &    0.09-6.09 &    0.14 &   0.0-0.62 &   62.04 &   11.57-213.05 \\
           Utah &     4.0 &   1.03 &    0.11-1.42 &    0.25 &   0.0-0.62 &   33.38 &    19.77-72.46 \\
           Iowa &     4.0 &   0.82 &    0.21-1.39 &    0.20 &   0.0-0.43 &   33.60 &    3.62-121.75 \\
       Delaware &     4.0 &   0.35 &     0.1-0.73 &    2.97 &  0.0-11.86 &   22.49 &     0.81-86.61 \\
       Nebraska &     3.0 &   0.98 &    0.68-1.13 &    0.37 &    0.0-1.1 &   11.86 &    10.66-12.46 \\
   Rhode Island &     2.0 &   0.31 &     0.3-0.32 &    2.33 &   0.2-4.45 &   32.76 &    28.33-37.19 \\
   South Dakota &     2.0 &  39.31 &   19.6-59.02 &    0.00 &    0.0-0.0 &  306.25 &  306.12-306.39 \\
          Maine &     2.0 &   3.23 &    0.56-5.89 &    0.00 &    0.0-0.0 &  179.48 &   131.3-227.67 \\
        Montana &     2.0 &  42.37 &  34.62-50.13 &    0.00 &    0.0-0.0 &  529.37 &  433.06-625.67 \\
        Vermont &     1.0 &   1.49 &    1.49-1.49 &    0.00 &    0.0-0.0 &  188.95 &  188.95-188.95 \\
  West Virginia &     1.0 &   0.94 &    0.94-0.94 &    0.00 &    0.0-0.0 &  102.46 &  102.46-102.46 \\
\bottomrule
\end{tabular}

## Get Demographics for Couties and measure racial index